:root {
  --body-foreground: #242424;
  --body-background: #fff;
  --body-background-alt: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-foreground: #fff;
    --body-background: #242424;
    --body-background-alt: #404040;
  }
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
  color: var(--body-foreground);
}

body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 5%;
    max-width: 768px;
  }
}

.container--fluid {
  padding: 0 5%;
}

blockquote {
  background-color: var(--body-background-alt);
  border-left: 3px solid var(--body-foreground);
  padding: 2rem;
  margin: 0 0 1.6rem 0;
}

blockquote p {
  margin: 0 0 1.6rem 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.progress {
  margin-bottom: 48px;
}

.progress label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.progress progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: var(--body-background-alt);
}

.progress progress::-webkit-progress-bar {
  border-radius: 2px;
  background-color: var(--body-background-alt);
}
.progress progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: var(--body-foreground);
}
.progress progress::-moz-progress-bar {
  border-radius: 2px;
  background-color: var(--body-foreground);
}

hr {
  border: none;
  border-bottom: 1px dashed #d1d6d9;
  margin: 4rem 0;
}

main a {
  color: var(--body-foreground);
  text-decoration: none;
  transition: opacity 0.15s ease-in;
}
main a:hover,
main a:focus {
  opacity: 0.7;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.take-me-back {
  margin-top: 8rem;
  display: inline-block;
}

.take-me-back + .take-me-back {
  margin-top: 4rem;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0;
  margin-bottom: 2.4rem;
}

h1,
.h1 {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 4rem;
  }
}

h2,
.h2 {
  font-size: 2.4rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 3.2rem;
  }
}

h3,
.h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h4,
  .h4 {
    font-size: 1.8rem;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.6rem;
}

p {
  line-height: 1.6;
  margin: 0;
  margin-bottom: 1.6rem;
}

a {
  color: var(--body-foreground);
  box-shadow: 0 2px 0 var(--body-foreground);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  font-weight: bold;
}

a:hover {
  opacity: 0.6;
}

a:focus {
  opacity: 0.6;
  outline: var(--body-background--alt) dotted 1px;
}

.footer-blurb {
  line-height: 1.2;
}

ul {
  margin: 2.4rem 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 2.4rem 0;
  line-height: 1.6;
}

ul.list--inline {
  display: flex;
  flex-wrap: wrap;
}

ul.list--inline li {
  margin: 0 1.6rem 1.6rem 0;
}

.readingList ul li p {
  margin: 0;
}

/* 
ul {
  margin: 2.4rem 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0 0 2.4rem 0;
    line-height: 1.6;

    a {
      img {
        border: none;
        display: block;
        margin: 0;
      }
    }
  }

  &.list--tight {
    li {
      margin: 0 0 1.2rem 0;
    }
  }

  &.list--circle {
    li {
      list-style: circle;
      margin-left: 1.6rem;
    }
  }

  &.list--inline {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 1.2rem 1.2rem 0;

      @media screen and (min-width: 768px) {
        margin: 0 1.6rem 1.6rem 0;
      }
    }
  }

  &.list--recent-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex-basis: 48%;
      margin-bottom: 4rem;
    }
  }

  &.list--nav {
    font-size: 1.4rem;

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
    }

    li {
      margin-right: 0.8rem;

      @media screen and (min-width: 768px) {
        margin-right: 1.2rem;
      }

      a {
        box-shadow: none;
      }

      &.active {
        a {
          box-shadow: 0 2px 0 var(--body-foreground);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
} */
