:root {
  --body-foreground: #33403d;
  --body-background: #e4dbcd;
  --body-background-alt: #bbb5aa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-foreground: #e4dbcd;
    --body-background: #33403d;
    --body-background-alt: #56625e;
  }
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
  color: var(--body-foreground);
  transition: 0.2s ease-in background, 0.2s ease-in color;
}

body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 5%;
    max-width: 768px;
  }
}

.container--fluid {
  padding: 0 5%;
}

blockquote {
  background-color: var(--body-background-alt);
  border-left: 3px solid var(--body-foreground);
  padding: 2rem;
  margin: 0 0 1.6rem 0;
  transition: 0.2s ease-in background-color, 0.2s ease-in border-left;
}

blockquote p {
  margin: 0 0 1.6rem 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.progress {
  margin-bottom: 48px;
}

.progress label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.progress progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: var(--body-background-alt);
  transition: 0.2s ease-in background-color;
}

.progress progress::-webkit-progress-bar {
  border-radius: 2px;
  background-color: var(--body-background-alt);
  transition: 0.2s ease-in background-color;
}
.progress progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: var(--body-foreground);
  transition: 0.2s ease-in background-color;
}
.progress progress::-moz-progress-bar {
  border-radius: 2px;
  background-color: var(--body-foreground);
  transition: 0.2s ease-in background-color;
}

hr {
  border: none;
  border-bottom: 1px dashed var(--body-background-alt);
  display: block;
  margin: 4rem 0;
}

main a {
  color: var(--body-foreground);
  text-decoration: none;
  transition: opacity 0.15s ease-in, 0.2s ease-in color, 0.2s ease-in box-shadow;
}
main a:hover,
main a:focus {
  opacity: 0.7;
}

main a:focus-visible {
  outline: 1px dotted var(--body-foreground);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.take-me-back {
  margin-top: 8rem;
  display: inline-block;
}

.take-me-back + .take-me-back {
  margin-top: 4rem;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 20em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0;
  margin-bottom: 2.4rem;
}

h1,
.h1 {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 4rem;
  }
}

h2,
.h2 {
  font-size: 2.4rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 3.2rem;
  }
}

h3,
.h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h4,
  .h4 {
    font-size: 1.8rem;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.6rem;
}

p {
  line-height: 1.6;
  margin: 0;
  margin-bottom: 1.6rem;
}

a {
  color: var(--body-foreground);
  box-shadow: 0 2px 0 var(--body-foreground);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  font-weight: bold;
  transition: 0.2s ease-in color, 0.2s ease-in box-shadow;
}

a:hover {
  opacity: 0.6;
}

a:focus,
a:focus-visible {
  opacity: 0.6;
  outline: var(--body-background--alt) dotted 1px;
}

.footer-blurb {
  line-height: 1.2;
}

ul {
  margin: 2.4rem 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 2.4rem 0;
  line-height: 1.6;
}

ul.list--inline {
  display: flex;
  flex-wrap: wrap;
}

ul.list--inline li {
  margin: 0 1.6rem 1.6rem 0;
}

.readingList ul li p {
  margin: 0;
}
